<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head') %>


    <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <div class="wrapper">
            <%- include('../Partes/sidebar') %>
                <div class="main">
                    <%- include('../Partes/nav') %>

                        <main class="content">
                            <div class="container-fluid p-0">

                                <h1 class="h3 mb-3">Historico # <%= cliente.idCliente%>
                                </h1>

                                <div class="row">

                                    <div class="col-md-4 col-xl-3">
                                        <div class="card mb-3">
                                            <div class="card-header">

                                            </div>
                                            <div class="card-body text-center">
                                                <img src="/uploads/foto/<%= cliente.image%>" alt="Stacie Hall"
                                                    class="img-fluid rounded-circle mb-2" width="128" height="128" />
                                                <h5 class="card-title mb-0">
                                                    <%= cliente.nome %>
                                                </h5>
                                                <div class="text-muted mb-2"></div>


                                            </div>

                                            <hr class="my-0" />
                                            <div class="card-body">
                                                <h5 class="h6 card-title">Contacto</h5>
                                                <ul class="list-unstyled mb-0">
                                                    <li class="mb-1"><span class="feather-sm me-1"> <a href="#">
                                                                <%= cliente.nome %>
                                                            </a></li>
                                                    <li class="mb-1"><span class="feather-sm me-1"></span> <a href="#">
                                                            <%= cliente.email %>
                                                        </a></li>

                                                    <li class="mb-1"><span class="feather-sm me-1"> <a href="#">
                                                                <%= cliente.nif %>
                                                            </a></li>
                                                    <li class="mb-1"><span class="feather-sm me-1"></span> <a href="#">
                                                            <%= cliente.telefone%>
                                                        </a></li>
                                                </ul>
                                            </div>
                                            <hr class="my-0" />
                                            <div class="card-body">
                                                <h5 class="h6 card-title">Sobre Paciente</h5>
                                                <ul class="list-unstyled mb-0">
                                                    <li class="mb-1"><span class="feather-sm me-1"></span>User: <a
                                                            href="#">
                                                            <%= cliente.endereco %>
                                                        </a></li>
                                                    <li class="mb-1"><span class="feather-sm me-1"></span>Provincia: <a
                                                            href="#">
                                                            <%= cliente.provincia %>
                                                        </a></li>
                                                    <li class="mb-1"><span class="feather-sm me-1"></span> Municipio<a
                                                            href="#">
                                                            <%= cliente.municipio%>
                                                        </a></li>

                                                </ul>

                                            </div>
                                            <hr class="my-0" />




                                        </div>
                                    </div>


                                    <div class="col-md-8 col-xl-9">
                                        <div class="card">

                                            <strong>Actividades Gerais</strong><br />
                                            <div class="card-body h-100">
                                                <table id="datatables-buttons" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                           
                                                            <th>Detalhes</th>
                                                            <th>Data Criação</th>
                                                            <th>Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                        <% actividade.reverse().map(actividade=> {%>
                                                            <tr>
                                                                <td>
                                                                    <%= actividade.idActividade%>
                                                                </td>
                                                               
                                                                <td>
                                                                    <%= actividade.detalhes%>
                                                                </td>
                                                                <td>
                                                                    <%= actividade.data%>
                                                                </td>
                                                                
                                                                <td><span class="badge bg-success">Active</span></td>
            
                                                            </tr>
                                                            <%}) %>
                                                    </tbody>
                                                </table>
                                               
                                              

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </main>

                        <%- include('../Partes/footer') %>
                </div>
        </div>

        <script src="/Dash/js/app.js"></script>
        <script src="/Dash/js/ApiProvincia-municipio.js"></script>
        <script src="/sweetalert/sweetalert2.all.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Datatables with Buttons
                var datatablesButtons = $("#datatables-buttons").DataTable({
                    responsive: true,
                    lengthChange: !1,
                    buttons: ["copy", "print"]
                });
                datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
            });
        </script>
        <script>
            function confirmar(id) {

                Swal.fire({
                    title: 'Queres Deletar Este Historico ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar',

                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below   */
                    if (result.isConfirmed) {

                        window.location = '/DeletarHistorico/' + id;
                    } else if (result.isDenied) {
                        Swal.fire('Erro ao eliminar', '', 'info')
                    }
                })
            }
        </script>
        <% if(errado.length>0) {%>
            <script>
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'error',
                    title: '<%=errado %>'
                })
            </script>

            <% }else if(certo.length>0) {%>
                <script>

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: `<%= certo %>`
                    })

                </script>
                <% }%>

    </body>


    <!-- Mirrored from appstack.bootlab.io/dashboard-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:13 GMT -->

</html>