<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head')  %>


<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <%- include('../Partes/sidebar')  %>
        <div class="main">
            <%- include('../Partes/nav')  %> 

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3>Dashboard</h3>
                        </div>
                    
                        <div class="col-auto ms-auto text-end mt-n1">
                    
                            <div class="dropdown me-2 d-inline-block">
                                <a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#"
                                    data-bs-toggle="dropdown" data-bs-display="static">
                                    <i class="align-middle mt-n1" data-feather="calendar"></i> Hoje
                                </a>
                    
                                <div class="dropdown-menu dropdown-menu-end">
                                    <h6 class="dropdown-header">Definições</h6>
                                    <a class="dropdown-item" href="#">-----</a>
                                    <a class="dropdown-item" href="#">-----</a>
                                </div>
                            </div>
                    
                            <button class="btn btn-primary shadow-sm">
                                <i class="align-middle" data-feather="filter">&nbsp;</i>
                            </button>
                            <button class="btn btn-primary shadow-sm">
                                <i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h3 class="mb-2"><%= cliente.length %> </h3>
                                            <p class="mb-2">Total de Usuários</p>
                                            <div class="mb-0">
                                                <span class="badge badge-soft-success me-2"> 0% </span>
                                                <span class="text-muted">Ultima semana</span>
                                            </div>
                                        </div>
                                        <div class="d-inline-block ms-3">
                                            <div class="stat">
                                                <i class="align-middle text-success" data-feather="dollar-sign"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h3 class="mb-2">0 </h3>
                                            <p class="mb-2">Investidores</p>
                                            <div class="mb-0">
                                                <span class="badge badge-soft-danger me-2"> 0% </span>
                                                <span class="text-muted">Ultima semana</span>
                                            </div>
                                        </div>
                                        <div class="d-inline-block ms-3">
                                            <div class="stat">
                                                <i class="align-middle text-danger" data-feather="shopping-bag"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h3 class="mb-2"><%= parceiros.length %> </h3>
                                            <p class="mb-2">Parceiros</p>
                                            <div class="mb-0">
                                                <span class="badge badge-soft-danger me-2"> 0% </span>
                                                <span class="text-muted">Ultima semana</span>
                                            </div>
                                        </div>
                                        <div class="d-inline-block ms-3">
                                            <div class="stat">
                                                <i class="align-middle text-danger" data-feather="shopping-bag"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h3 class="mb-2">0</h3>
                                            <p class="mb-2">Operações</p>
                                            <div class="mb-0">
                                                <span class="badge badge-soft-success me-2"> +8.65% </span>
                                                <span class="text-muted">Ultima Semana</span>
                                            </div>
                                        </div>
                                        <div class="d-inline-block ms-3">
                                            <div class="stat">
                                                <i class="align-middle text-info" data-feather="dollar-sign"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <div class="dropdown position-relative">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">--------------</a>
                                                <a class="dropdown-item" href="#">--------------</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mb-0">Solicitações/Operações</h5>
                                </div>
                                <div class="card-body d-flex w-100">
                                    <div class="align-self-center chart chart-lg">
                                        <canvas id="chartjs-dashboard-bar"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <span class="badge bg-info float-end">----</span>
                                    <h5 class="card-title mb-0">FeedBacks</h5>
                                </div>
                                <div class="card-body">
                                    <% feedbak.slice(0, 4).map(feedbak=> {%>
                                    <div class="d-flex align-items-start">
                                        <img src="/uploads/foto/<%= feedbak.image %>" width="36" height="36"
                                            class="rounded-circle me-2" alt="Ashley Briggs">
                                        <div class="flex-grow-1">
                                            
                                            <strong><%= feedbak.nome %></strong> 
                                            <span class="float-end text-muted text-sm"><%= feedbak.dataFeedbak %>  </span>
                                          
                                            <div class="border text-sm text-muted p-2 mt-1">
                                                <p style="max-width: 25ch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><%= feedbak.comentario%></p>
                                            </div>
                                           

                                        </div>
                                    </div>
                                    <%}) %> 

                                    <hr />
        
                                    <div class="d-grid">
                                        <a href="/feedbaks" class="btn btn-primary">Ver mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-4 d-flex">
                            
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Visitas e seccões</h5>
                                            <h6 class="card-subtitle text-muted">Numeros de visitas, acessos e secções a plataforma.</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart w-100">
                                                <div id="apexcharts-line"></div>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                        <div class="col-12 col-xl-4 d-none d-xl-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <div class="dropdown position-relative">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">--</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mb-0">Estatística Geral</h5>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="align-self-center w-100">
                                        <div class="py-3">
                                            <div class="chart chart-xs">
                                                <canvas id="chartjs-dashboard-pie"></canvas>
                                            </div>
                                        </div>

                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Dados</th>
                                                    <th class="text-end">Quantidade</th>
                                                    <th class="text-end">Crescimento</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><i class="fas fa-square-full text-primary"></i> Direct</td>
                                                    <td class="text-end">$ 2602</td>
                                                    <td class="text-end text-success">+43%</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fas fa-square-full text-warning"></i> Affiliate</td>
                                                    <td class="text-end">$ 1253</td>
                                                    <td class="text-end text-success">+13%</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fas fa-square-full text-danger"></i> E-mail</td>
                                                    <td class="text-end">$ 541</td>
                                                    <td class="text-end text-success">+24%</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fas fa-square-full text-dark"></i> Other</td>
                                                    <td class="text-end">$ 1465</td>
                                                    <td class="text-end text-success">+11%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <div class="dropdown position-relative">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">-----</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mb-0">Secção & Actividades</h5>
                                </div>
                               
                                <div class="card-body">actividades
                                    <ul class="timeline">
                                        <% actividades.slice(0, 8).map(actividade=> {%>
                                        <li class="timeline-item">
                                            <strong> <%=actividade.nome %> </strong>
                                            <span class="float-end text-muted text-sm"><%=actividade.data  %>   </span>
                                         
                                            <div class="border text-sm text-muted p-2 mt-1">
                                                <p style="max-width: 25ch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><%= actividade.detalhes %> </p>
                                            </div>
                                        </li>
                                        <%}) %> 
                                    </ul>
                                    <hr>
                                    <div class="d-grid">
                                        <a href="/ListarAcesso" class="btn btn-primary">Ver mais</a>
                                    </div>
                                </div>
                        
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="card-actions float-end">
                                <div class="dropdown position-relative">
                                    <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">----------------</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Ultimas Solicitações</h5>
                        </div>
                        <table id="datatables-dashboard-projects" class="table table-striped my-0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th class="d-none d-xl-table-cell">Email</th>
                                    <th class="d-none d-xl-table-cell">Data</th>
                                    <th>Estado</th>
                                    <th class="d-none d-md-table-cell">Telefone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% solicitacao.slice(0, 6).map(solicitacao=> {%>
                                <tr>
                                    <td><%=solicitacao.nome%> </td>
                                    <td class="d-none d-xl-table-cell"> <%=solicitacao.email%> </td>
                                    <td class="d-none d-xl-table-cell"><%=solicitacao.email%> </td>
                                    <td><span class="badge bg-success">Done</span></td>
                                    <td class="d-none d-md-table-cell"><%=solicitacao.telefone%> </td>
                                </tr>
                                <%}) %> 


                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <%- include('../Partes/footer') %> 
        </div>
    </div>

    <script src="/Dash/js/app.js"></script>
    <script>
		document.addEventListener("DOMContentLoaded", function() {
			// Line chart
			var options = {
				chart: {
					height: 350,
					type: "line",
					zoom: {
						enabled: false
					},
				},
				dataLabels: {
					enabled: false
				},
				stroke: {
					width: [5, 7, 5],
					curve: "straight",
					dashArray: [0, 8, 5]
				},
				series: [{
						name: "Session Duration",
						data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10]
					},
					{
						name: "Page Views",
						data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35]
					},
					{
						name: "Total Visits",
						data: [87, 57, 74, 99, 75, 38, 62, 47, 82, 56, 45, 47]
					}
				],
				markers: {
					size: 0,
					style: "hollow", // full, hollow, inverted
				},
				xaxis: {
					categories: ["01 Jan", "02 Jan", "03 Jan", "04 Jan", "05 Jan", "06 Jan", "07 Jan", "08 Jan", "09 Jan", "10 Jan", "11 Jan", "12 Jan"],
				},
				tooltip: {
					y: [{
						title: {
							formatter: function(val) {
								return val + " (mins)"
							}
						}
					}, {
						title: {
							formatter: function(val) {
								return val + " per session"
							}
						}
					}, {
						title: {
							formatter: function(val) {
								return val;
							}
						}
					}]
				},
				grid: {
					borderColor: "#f1f1f1",
				}
			}
			var chart = new ApexCharts(
				document.querySelector("#apexcharts-line"),
				options
			);
			chart.render();
		});
	</script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Bar chart
            new Chart(document.getElementById("chartjs-dashboard-bar"), {
                type: "bar",
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Aceites",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                        barPercentage: .325,
                        categoryPercentage: .5
                    }, {
                        label: "Pendentes",
                        backgroundColor: window.theme["primary-light"],
                        borderColor: window.theme["primary-light"],
                        hoverBackgroundColor: window.theme["primary-light"],
                        hoverBorderColor: window.theme["primary-light"],
                        data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
                        barPercentage: .325,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    cornerRadius: 15,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                stepSize: 20
                            },
                            stacked: true,
                        }],
                        xAxes: [{
                            gridLines: {
                                color: "transparent"
                            },
                            stacked: true,
                        }]
                    }
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#datetimepicker-dashboard").datetimepicker({
                inline: true,
                sideBySide: false,
                format: "L"
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Pie chart
            new Chart(document.getElementById("chartjs-dashboard-pie"), {
                type: "pie",
                data: {
                    labels: ["Direct", "Affiliate", "E-mail", "Other"],
                    datasets: [{
                        data: [2602, 1253, 541, 1465],
                        backgroundColor: [
                            window.theme.primary,
                            window.theme.warning,
                            window.theme.danger,
                            "#E8EAED"
                        ],
                        borderWidth: 5,
                        borderColor: window.theme.white
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    cutoutPercentage: 70,
                    legend: {
                        display: false
                    }
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#datatables-dashboard-projects").DataTable({
                pageLength: 6,
                lengthChange: false,
                bFilter: false,
                autoWidth: false
            });
        });
    </script>

</body>


<!-- Mirrored from appstack.bootlab.io/dashboard-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:13 GMT -->

</html>