<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head') %>

	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
		<div class="wrapper">
			<%- include('../Partes/sidebar') %>
				<div class="main">
					<%- include('../Partes/nav') %>

						<main class="content">
							<div class="container-fluid p-0">

								<h1 class="h3 mb-3">Definições</h1>

								<div class="row">
									<div class="col-md-3 col-xl-2">

										<div class="card">
											

											<div class="list-group list-group-flush" role="tablist">
												<a class="list-group-item list-group-item-action active"
													data-bs-toggle="list" href="#account" role="tab">
													Conta
												</a>
												<a class="list-group-item list-group-item-action" data-bs-toggle="list"
													href="#password" role="tab">
													Segurança
												</a>
												
											
												<a class="list-group-item list-group-item-action" data-bs-toggle="list"
													href="#" role="tab">
													Delete account
												</a>
											</div>
										</div>
									</div>

									<div class="col-md-9 col-xl-10">
										<div class="tab-content">
											<div class="tab-pane fade show active" id="account" role="tabpanel">

												<div class="card">

													<div class="card-body">
														<form>
															<div class="row">
																<div class="col-md-8">
																	<div class="mb-3">
																		<label for="inputUsername"
																			class="form-label">Usuario*</label>
																		<input type="text" class="form-control"
																			id="inputUsername" value="<%= admin_1.username %> ">
																	</div>
																	<div class="mb-3">
																		<label for="inputUsername"
																			class="form-label">Biografia*</label>
																		<textarea rows="2" class="form-control"
																			id="inputBio"
																			placeholder="Tell something about yourself" disabled></textarea>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="text-center">
																		<img alt="<%= admin.nome %>"
																			src="/uploads/foto/<%= admin_1.image %> "
																			class="rounded-circle img-responsive mt-2"
																			width="128" height="128" />
																		<div class="mt-2">
																			<span class="btn btn-primary"><i
																					class="fas fa-upload"></i>
																				Upload</span>
																		</div>
																		<small>Tamanho Maximo
																			128px by 128px in .jpg format</small>
																	</div>
																</div>
																<div class="row">
																	<div class="mb-3 col-md-6">
																		<label for="inputFirstName"
																			class="form-label">Nome</label>
																		<input type="text" class="form-control"
																			id="inputFirstName"
																			value="<%= admin_1.nome %>">
																	</div>
																	<div class="mb-3 col-md-6">
																		<label for="inputLastName"
																			class="form-label">Contacto</label>
																		<input type="text" class="form-control"
																			id="inputLastName" value="<%= admin_1.telefone %>">
																	</div>
																</div>
																<div class="mb-3">
																	<label for="inputEmail4"
																		class="form-label">Email</label>
																	<input type="email" class="form-control"
																		id="inputEmail4" value="<%= admin_1.email %>">
																</div>
																<div class="mb-3">
																	<label for="inputAddress"
																		class="form-label">NIF*</label>
																	<input type="text" class="form-control"
																		id="inputAddress" value="<%= admin_1.nif%>">
																</div>
																
																
															</div>

															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
														</form>

													</div>
												</div>

											

											</div>
											<div class="tab-pane fade" id="password" role="tabpanel">
												<div class="card">
													<div class="card-body">
														<h5 class="card-title">Password</h5>

														<form>
															<div class="mb-3">
																<label for="inputPasswordCurrent"
																	class="form-label">Current password</label>
																<input type="password" class="form-control"
																	id="inputPasswordCurrent">
																<small><a href="#">Forgot your password?</a></small>
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew" class="form-label">New
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew">
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew2" class="form-label">Verify
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew2">
															</div>
															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
																
														</form>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</main>

						<%- include('../Partes/footer') %>
				</div>
		</div>

		<script src="/Dash/js/app.js"></script>
		<script src="/sweetalert/sweetalert2.all.min.js"></script>
		</script>
		<% if(errado.length>0) {%>
			<script>
				var Toast = Swal.mixin({
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
					didOpen: (toast) => {
						toast.addEventListener('mouseenter', Swal.stopTimer)
						toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				})
				Toast.fire({
					icon: 'error',
					title: '<%=errado %>'
				})
			</script>

			<% }else if(certo.length>0) {%>
				<script>

					const Toast = Swal.mixin({
						toast: true,
						position: 'top-end',
						showConfirmButton: false,
						timer: 3000,
						timerProgressBar: true,
						didOpen: (toast) => {
							toast.addEventListener('mouseenter', Swal.stopTimer)
							toast.addEventListener('mouseleave', Swal.resumeTimer)
						}
					})

					Toast.fire({
						icon: 'success',
						title: `<%= certo %>`
					})

				</script>
				<% }%>

	</body>


	<!-- Mirrored from appstack.bootlab.io/pages-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:35 GMT -->

</html>