<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head') %>

	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
		<div class="wrapper">
			<%- include('../Partes/sidebar') %>
				<div class="main">
					<%- include('../Partes/nav') %>

						<main class="content">
							<div class="container-fluid p-0">

								<h1 class="h3 mb-3">Definições</h1>

								<div class="row">
									<div class="col-md-3 col-xl-2">

										<div class="card">
											

											<div class="list-group list-group-flush" role="tablist">
												<a class="list-group-item list-group-item-action active"
													data-bs-toggle="list" href="#account" role="tab">
													Conta
												</a>
												<a class="list-group-item list-group-item-action" data-bs-toggle="list"
													href="#password" role="tab">
													Segurança
												</a>
												<a class="list-group-item list-group-item-action" data-bs-toggle="list"
													href="#bancarias" role="tab">
													Cordenadas Bancarias
												</a>
												
												<a class="list-group-item list-group-item-action" data-bs-toggle="list"
													href="#trabalho" role="tab">
													Registro de Trabalho
												</a>
												
											
											</div>
										</div>
									</div>

									<div class="col-md-9 col-xl-10">
										<div class="tab-content">
											<div class="tab-pane fade show active" id="account" role="tabpanel">

												<div class="card">

													<div class="card-body">
														<form>
															<div class="row">
																<div class="col-md-8">
																	<div class="mb-3">
																		<label for="inputUsername"
																			class="form-label">Username</label>
																		<input type="text" class="form-control"
																			id="inputUsername"  value="<%= cliente.username %>">
																	</div>
																	<div class="mb-3">
																		<label for="inputUsername"
																			class="form-label">Biografia</label>
																		<textarea rows="2" class="form-control"
																			id="inputBio"
																			placeholder="Tell something about yourself"></textarea>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="text-center">
																		<img alt="<%= cliente.nome %>"
																			src="/uploads/foto/<%= cliente.image %> "
																			class="rounded-circle img-responsive mt-2"
																			width="128" height="128" />
																		<div class="mt-2">
																			<span class="btn btn-primary"><i
																					class="fas fa-upload"></i>
																				Upload</span>
																		</div>
																		<small>For best results, use an image at least
																			128px by 128px in .jpg format</small>
																	</div>
																</div>
																<div class="row">
																	<div class="mb-3 col-md-6">
																		<label for="inputFirstName"
																			class="form-label">Nome</label>
																		<input type="text" class="form-control"
																			id="inputFirstName"
																			value="<%= cliente.nome %>">
																	</div>
																	<div class="mb-3 col-md-6">
																		<label for="inputLastName"
																			class="form-label">Nif</label>
																		<input type="text" class="form-control"
																			id="inputLastName" value="<%= cliente.nif %>">
																	</div>
																</div>
																<div class="mb-3">
																	<label for="inputEmail4"
																		class="form-label">Email</label>
																	<input type="email" class="form-control"
																		id="inputEmail4" value="<%= cliente.email %>">
																</div>
																<div class="mb-3">
																	<label for="inputAddress"
																		class="form-label">Telefone</label>
																	<input type="text" class="form-control"
																		id="inputAddress"  value="<%= cliente.telefone %>">
																</div>
																<div class="mb-3">
																	<label for="inputAddress2"
																		class="form-label">Endereço</label>
																	<input type="text" class="form-control"
																		id="inputAddress2"
																		placeholder="Apartment, studio, or floor" value="<%= cliente.endereco%>">
																</div>
																<div class="row">
																	
																	<div class="mb-3 col-md-6">
																		<label for="inputState"
																			class="form-label">Provincia</label>
																			<select required class="form-control " name="provincia" id="slctprovincia" onchange="populate(this.id,'slctmunicipio')" autofocus>
								  
																				<option disabled="disabled" selected="selected"> Escolha a província</option>
																				<option value="luanda">Luanda</option>
																				   <option value="benguela">Benguela</option>
																				   <option value="bengo">Bengo</option>
																				   <option value="bié">Bié</option>
																				   <option value="cabinda">Cabinda</option>
																				   <option value="cuando-cubango">Cuando-Cubango</option>
																				   <option value="cuanza norte">Cuanza Norte</option>
																				   <option value="cuanza sul">Cuanza Sul</option>
																				   <option value="cunene">Cunene</option>
																				   <option value="huambo">Huambo</option>
																				   <option value="huíla">Huíla</option>
																				   <option value="lunda norte">Lunda Norte</option>
																				   <option value="lunda sul">Lunda Sul</option>
																				   <option value="malange">Malange</option>
																				   <option value="moxico">Moxico</option>
																				   <option value="namibe">Namibe</option>
																				   <option value="uíge">Uíge</option>
																				   <option value="zaire">Zaire</option>
																			  
																			  </select>
																	</div>
																	<div class="mb-3 col-md-6">
																		<label for="inputZip"
																			class="form-label">Municipio</label>
																			<select autofocus required name="municipio" id="slctmunicipio" class="form-control"> <option disabled="disabled" selected="selected"> Escolha o municipio</option></select> 
                                            
																	</div>
																</div>
															</div>

															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
														</form>

													</div>
												</div>

											

											</div>
											<div class="tab-pane fade" id="password" role="tabpanel">
												<div class="card">
													<div class="card-body">
														<h5 class="card-title">Password</h5>

														<form>
															<div class="mb-3">
																<label for="inputPasswordCurrent"
																	class="form-label">Current password</label>
																<input type="password" class="form-control"
																	id="inputPasswordCurrent">
																<small><a href="#">Forgot your password?</a></small>
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew" class="form-label">New
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew">
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew2" class="form-label">Verify
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew2">
															</div>
															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
																
														</form>

													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="bancarias" role="tabpanel">
												<div class="card">
													<div class="card-body">
														<h5 class="card-title">Cordenadas Bancarias</h5>

														<form method="post" action="#">
															<div class="mb-3">
																<label for="inputPasswordCurrent"
																	class="form-label">Current password</label>
																<input type="password" class="form-control"
																	id="inputPasswordCurrent" name="senhaatual">
																<small><a href="#">Forgot your password?</a></small>
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew" class="form-label">New
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew" name="senha">
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew2" class="form-label">Verify
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew2" name="senha2">
															</div>
															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
																
														</form>

													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="trabalho" role="tabpanel">
												<div class="card">
													<div class="card-body">
														<h5 class="card-title">Informações de Trabalho</h5>

														<form method="post" action="#">
															<div class="mb-3">
																<label for="inputPasswordCurrent"
																	class="form-label">Current password</label>
																<input type="password" class="form-control"
																	id="inputPasswordCurrent" name="senhaatual">
																<small><a href="#">Forgot your password?</a></small>
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew" class="form-label">New
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew" name="senha">
															</div>
															<div class="mb-3">
																<label for="inputPasswordNew2" class="form-label">Verify
																	password</label>
																<input type="password" class="form-control"
																	id="inputPasswordNew2" name="senha2">
															</div>
															<button type="submit" class="btn btn-primary">Salvar Alterações</button>
																
														</form>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</main>

						<%- include('../Partes/footer') %>
				</div>
		</div>

		<script src="/Dash/js/app.js"></script>
		<script src="/sweetalert/sweetalert2.all.min.js"></script>
		<script src="/Dash/js/ApiProvincia-municipio.js"></script>
		</script>
		<% if(errado.length>0) {%>
			<script>
				var Toast = Swal.mixin({
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
					didOpen: (toast) => {
						toast.addEventListener('mouseenter', Swal.stopTimer)
						toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				})
				Toast.fire({
					icon: 'error',
					title: '<%=errado %>'
				})
			</script>

			<% }else if(certo.length>0) {%>
				<script>

					const Toast = Swal.mixin({
						toast: true,
						position: 'top-end',
						showConfirmButton: false,
						timer: 3000,
						timerProgressBar: true,
						didOpen: (toast) => {
							toast.addEventListener('mouseenter', Swal.stopTimer)
							toast.addEventListener('mouseleave', Swal.resumeTimer)
						}
					})

					Toast.fire({
						icon: 'success',
						title: `<%= certo %>`
					})

				</script>
				<% }%>

	</body>


	<!-- Mirrored from appstack.bootlab.io/pages-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:35 GMT -->

</html>