<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.4.0/pages/user/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:42 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Organ</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/assets/js/config.js"></script>
    <script src="/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/vendors/glightbox/glightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <%- include ("./PartialMedico/HeaderSideBar") %>
        <div class="content">
            <%- include ("./PartialMedico/MenuMedico") %>
          
          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');
            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
          <div class="card mb-3">
            <div class="card-header position-relative min-vh-25 mb-7">
              <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url('http://localhost:1001/upload/medicos.jpg');"></div>
              <!--/.bg-holder-->
              <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="http://localhost:1001/upload/<%= medico.imagemMedico  %>" width="200" alt="" /></div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">   
                  <h4 class="mb-1"> <%=medico.nomeMedico %><span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></h4>
                  <h5 class="fs-0 fw-normal"> <%=medico.userMedico %></h5>
                  <h5 class="fs-0 fw-normal">
                    Especialização: <% especialidades.filter(esp=> esp.idEspecialidade==medico.idEspecialidade).reverse().map(esp=>{%>
                      <%= esp.nomeEspecialidade  %>
                      <%  })
                    %>
                  </h5>
                  <p class="text-500"><%= medico.enderecoMedico  %></p>
                  <button onclick="window.location='medicioEditar_'" class="btn btn-falcon-primary btn-sm px-3" type="button">Editar Perfil</button>
                  <div class="border-dashed-bottom my-4 d-lg-none"></div>
                </div>
                <div class="col ps-2 ps-lg-3">
                  <a class="d-flex align-items-center mb-2" href="#">
                  
                    <div class="flex-1">
                      <h6 class="mb-0">Email: <%= medico.emailMedico  %></h6>
                    </div>
                  </a>
                  <a class="d-flex align-items-center mb-2" href="#">
                  
                    <div class="flex-1">
                      <h6 class="mb-0">Telefone: <%= medico.tellMedico  %></h6>
                    </div>
                  </a>
                  <a class="d-flex align-items-center mb-2" href="#">
                  
                    <div class="flex-1">
                      <h6 class="mb-0">Data Cadastrado: <%= medico.dataMedico  %></h6>
                    </div>
                  </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col-lg-12 pe-lg-2">
              <div class="card mb-3">
                <div class="card-header bg-light">
                  <h5 class="mb-0">Descrição Medico</h5>
                </div>
                <div class="card-body text-justify">
                  <p class="mb-0 text-1000"><%= medico.descMedico  %></p>
                  
                </div>
                <div class="card-footer bg-light p-0 border-top"><button class="btn btn-link d-block w-100 btn-intro-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#profile-intro" aria-expanded="true" aria-controls="profile-intro">Show <span class="less">less<span class="fas fa-chevron-up ms-2 fs--2"></span></span><span class="full">full<span class="fas fa-chevron-down ms-2 fs--2"></span></span></button></div>
              </div>
            </div>
           
          </div>
          <div class="card">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0">Consultas Marcadas</h5>
                    </div>
                    <div class="col-auto align-self-center">
                        <h6 style="cursor:pointer" onclick="window.location='/'" class="mb-0">Gerar Relatório</h6>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 border-top">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel"
                        aria-labelledby="tab-dom-b5b90702-8f53-4c41-812c-1124c578a4c4"
                        id="dom-b5b90702-8f53-4c41-812c-1124c578a4c4">
                        <div class="card shadow-none">
                            <div class="card-body p-0 pb-3">
                                <div class="table-responsive scrollbar">
                                    <table class="table mb-0">
                                        <thead class="text-black bg-200">
                                            <tr>
                                                
                                                <th class="align-middle">Nome</th>
                                                <th class="align-middle">Email </th>
                                                <th class="align-middle">Telefone</th>
                                                <th class="align-middle white-space-nowrap pe-3">Data
                                                </th>
                                                <th class="align-middle white-space-nowrap pe-3">Estado
                                                </th>
                                                <th class="align-middle white-space-nowrap pe-3">Accão
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="bulk-select-body">
                                            <% consultas.reverse().map(c=>{%> 
                                                <tr>
                                                    
                                                    <th class="align-middle"><%= c.nomePaciente  %></th>  
                                                    <td class="align-middle"><%= c.emailPaciente  %></td>
                                                    <td class="align-middle"><%= c.tellPaciente  %></td>
                                                    <td
                                                        class="align-middle white-space-nowrap text-end pe-3">
                                                        <%= c.dataMarcacao  %>
                                                    </td>
                                                    <td class="align-middle white-space-nowrap text-end pe-3">
                                                       <% if(c.estadoMarcacao==0){%>
                                                        Marcada
                                                      <%}else  if(c.estadoMarcacao==1){%>
                                                        Realizada
                                                      <%}else  if(c.estadoMarcacao==2){%>
                                                        Falta
                                                      <%}%>
                                                    </td>
                                                    <td
                                                        class="align-middle white-space-nowrap text-end pe-3">
                                                        <button onclick="window.location='/perfilMedico_/<%= c.idMedico  %>'" class="btn btn-falcon-primary me-1 mb-1" type="button">ver</button>
                                                    </td>
                                                </tr>
                                            <%  }) %> 
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>

      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

   
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/glightbox/glightbox.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="//../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="/vendors/list.js/list.min.js"></script>
    <script src="/assets/js/theme.js"></script>
  </body>


<!-- Mirrored from prium.github.io/falcon/v3.4.0/pages/user/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:45 GMT -->
</html>