<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.4.0/app/email/email-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:33:57 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Organ</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../../assets/js/config.js"></script>
    <script src="../../vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="../../vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="../../assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="../../assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="../../assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="../../assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <%- include ("./PartialMedico/HeaderSideBar") %>
        <div class="content">
            <%- include ("./PartialMedico/MenuMedico") %>
          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');
            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
          <div class="card mb-1">
            <div class="card-body d-flex justify-content-between">
                <div class="pe-1">Paciente: <%=relatorios.nomePaciente %> </div>
                <div class="pe-1">Consulta: <%=medico.nomeEspecialidade %></div>
                <div class="pe-1">Data Marcação: <%=relatorios.dataMarcacao %></div>
                <div class="pe-1">Horário: <%=relatorios.hora %>:00</div>
                
            </div>

          </div>
          <div class="card mb-1">
            <div class="card-body d-flex justify-content-between">
                <div class="pe-1">Consulta Nº: <%=relatorios.idMarcacao %></div>
                <div class="pe-1">Resultado Consulta: <%=relatorios.Resultado %> </div>
                <div class="pe-1">Estado: <%=relatorios.estadoRelatorio %></div>
                <div class="pe-1">Medico: <%=medico.nomeMedico %></div>     
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md d-flex">
                  <div class="avatar avatar-2xl">
                    <img class="rounded-circle" src="http://localhost:1001/upload/<%= relatorios.imagemMedico  %>" alt="" />
                  </div>
                  <div class="flex-1 ms-2">
                    <h5 class="mb-0">Relatório nº<%= relatorios.id  %></h5><a class="text-800 fs--1" href="#!"><span class="fw-semi-bold"><%= relatorios.nomeMedico  %></span><span class="ms-1 text-500">&lt;<%= relatorios.emailMedico  %>&gt;</span></a>
                  </div>
                </div>
                <div class="col-md-auto ms-auto d-flex align-items-center ps-6 ps-md-3"><small><%= relatorios.created_at  %></small><span class="fas fa-star text-warning fs--1 ms-2"></span></div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                  <%- relatorios.descRelatorio1 %> 
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row justify-content-between">
                <div class="col"><a class="btn btn-falcon-default btn-sm" href="compose.html"><span class="fas fa-reply" data-fa-transform="down-2"></span><span class="d-none d-sm-inline-block ms-1">Reply</span></a><a class="btn btn-falcon-default btn-sm ms-2" href="compose.html"><span class="fas fa-location-arrow" data-fa-transform="down-2"></span><span class="d-none d-sm-inline-block ms-1">Forward</span></a></div>
                <div class="col-auto d-flex align-items-center"><small>2 of 354</small><button class="btn btn-falcon-default btn-sm ms-2" type="button"><span class="fas fa-chevron-left"></span></button><button class="btn btn-falcon-default btn-sm ms-2" type="button"><span class="fas fa-chevron-right"></span></button></div>
              </div>
            </div>
          </div>
         
        </div>
        
      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="../../../../../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
    <script src="../../assets/js/theme.js"></script>
  </body>


<!-- Mirrored from prium.github.io/falcon/v3.4.0/app/email/email-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:33:58 GMT -->
</html>