<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/heade'); -%>

<body class="body-wrapper">


	<%- include('../partials/section'); -%>
<!--==================================
=                     =
===================================-->

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="uploads/avatar/<%-usuario.image_user%> " alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center"><%-usuario.nome_user%> </h5>
						<p><%-usuario.data_CriacaoUser	%></p>
					</div>
					<div class="widget user-dashboard-menu">
						<ul>
							<li class="active" ><a href=""><i class="fa fa-user"></i> Detalhes </a></li>
							<li><a href=""><i class="fa fa-bookmark-o"></i> Categorias<span>5</span></a></li>
							<li><a href=""><i class="fa fa-file-archive-o"></i>Áreas Livre<span>12</span></a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Edit Personal Info -->
				<div class="widget personal-info">
					<h3 class="widget-header user">Marcando Reserva</h3>
					<form action="/salvar_reserva" method="post">
						<!-- First Name -->
						<div class="form-group">
						    <label for="first-name"> Nome</label>
						    <input type="text" class="form-control" id="first-name" value="<%-usuario.nome_user%> " disabled>
						</div>
						<!-- Last Name -->
						<div class="form-group">
						    <label for="last-name">Email</label>
						    <input type="text" class="form-control" id="last-name" value="<%-usuario.email_user%> " disabled>
						</div>
						<!-- File chooser -->
						<input type="hidden" class="form-control" id="last-name" name="user_id">
						<!-- Comunity Name -->
						<div class="form-group">
						    <label for="comunity-name">Area Desejado</label>
							<select name="" id="id_area" class="form-control" required>
							 <% area_categoria.map(area =>{%>
								<option value="<%= area.id_area %>"> <%= area.nome_area %></option>
								<% }) %>
								
							</select>
						  
						</div>
						<!-- Checkbox -->
						
						<!-- Zip Code -->
						<div class="form-group">
						    <label for="zip-code">Matricula Viatura*</label>
						    <input type="text" class="form-control" id="zip-code" name="matricula">
						</div>
						<div class="form-check">
							<label class="form-check-label" for="hide-profile">
							  <input class="form-check-input" type="checkbox" value="" id="hide-profile">
							  Concordo com os termos !
							</label>
						  </div>
						<button class="btn btn-transparent">Submeter Regitro</button>
					</form>
				</div>
			
			</div>
		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->
<%- include('partials/footer'); -%>
</body>

</html>