<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.4.0/app/e-commerce/customer-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:11 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Organ</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/assets/js/config.js"></script>
    <script src="/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <%- include ("./partialAdmin/HeaderSideBar") %>
        <div class="content">
            <%- include ("./partialAdmin/MenuAdmin") %>

          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');
            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">

                <div class="col-auto d-none d-sm-block">
                  <span class="text-uppercase text-600">consulta nº <%= consulta.idMarcacao %><span class="fas fa-user ms-2"></span></h6>
                </div>
              </div>
            </div>
            <div class="card-body border-top">
              <div class="d-flex"><span class="fas fa-user text-success me-2" data-fa-transform="down-5"></span>
                <div class="flex-1">
                  <p class="mb-0">Nome Paciente</p>
                  <p class="fs--1 mb-0 text-600"><%= consulta.nomePaciente %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Detalhes da Marcacao</h5>
                </div>
                
              </div>
            </div>
            <div class="card-body bg-light border-top">
              <div class="row">
                <div class="col-lg col-xxl-5">
                  <h6 class="fw-semi-bold ls mb-3 text-uppercase">Dados Pessoais</h6>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Id</p>
                    </div>
                    <div class="col"><%= consulta.idMarcacao %></div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Nome</p>
                    </div>
                    <div class="col"><%= consulta.nomePaciente %></div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Email</p>
                    </div>
                    <div class="col"><%= consulta.emailPaciente %></div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Telefone</p>
                    </div>
                    <div class="col">
                      <p class=" mb-1"><%= consulta.tellPaciente %></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-0">Endereço</p>
                    </div>
                    <div class="col">
                      <p class="mb-0"><%= consulta.enderecoPaciente %></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                  <h6 class="fw-semi-bold ls mb-3 text-uppercase">OUTROS</h6>

                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Marcação</p>
                    </div>
                    <div class="col">
                      <p class="mb-1"><%= consulta.dataMarcacao %></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Hora</p>
                    </div>
                    <div class="col"><a ><%= consulta.hora %>:00</a></div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-0">dia</p>
                    </div>
                    <div class="col">
                      <p class=" mb-0"><%= consulta.diaExtenso %></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-0">Medico</p>
                    </div>
                    <div class="col">
                      <p class=" mb-0"><%= consulta.nomeMedico %></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-0">Tipo</p>
                    </div>
                    <div class="col">
                      <p class=" mb-0">
                        <% especialidades.map(esp=>{%>
                          <%= (consulta.idEspecialidade==esp.idEspecialidade)? esp.nomeEspecialidade: '  ' %> 
                        <%}) %> 
          
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <div class="card-footer border-top text-end">
              <a class="btn btn-falcon-default btn-sm ms-2" href="#!"><span class="fas fa-check fs--2 me-1"></span>Dados do consulta</a></div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Detalhes do Pagamento</h5>
                </div>
                
              </div>
            </div>
            <div class="card-body bg-light border-top">
              <div class="row">
                <div class="col-lg col-xxl-7">
                 
                  
                    <embed src="http://localhost:1001/upload/<%=comprovativo.arquivo %> " type="application/pdf" width="100%" height="100%">
                
                </div>
                <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                  <h6 class="fw-semi-bold ls mb-3 text-uppercase">OUTROS</h6>

                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-1">Data & Hora</p>
                    </div>
                    <div class="col">
                      <p class="mb-1"><%= comprovativo.dataPagamento %></p>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-5 col-sm-4">
                      <p class="fw-semi-bold mb-0">Detalhes</p>
                    </div>
                    <div class="col">
                      <p class=" mb-0">Transferencia</p>
                    </div>
                  </div>
                
                  
                </div>
              </div>
            </div>  
            <div class="card-footer border-top text-end">
              <% if( consulta.estadoMarcacao==5 ){%> 
    <a class="btn btn-falcon-default btn-sm ms-2" onclick="confirmar(`<%=consulta.idMarcacao%>`)"><span class="fas fa-check fs--2 me-1"></span>Aprovar Marcação</a></div>
         
    <%   } %> 
          
            </div>


        </div>

      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="//../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="/vendors/list.js/list.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/sweetalert/sweetalert2.all.min.js"></script>
    <script>
      function confirmar(id){
        
    Swal.fire({
      title: 'Aceitar Esta Marcação?',
    icon:'warning',
      showCancelButton: true,
      confirmButtonColor:'#3085d6',
      cancelButtonColor:'#d33',
      confirmButtonText: 'Confirmar',
    
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below   */
      if (result.isConfirmed) {
    
       window.location = '/permitir/'+id;
      } else if (result.isDenied) {
        Swal.fire('Erro ao eliminar', '', 'info')
      }
    })
      }
      </script>

  <% if(certo.length >0){%>
      <script>
       Swal.fire(
      'Boa!',
      '`<%=certo %>`!',
      'success'
    )
  
      </script>
      <% }else if(errado.length >0) {%>
        <script>
          Swal.fire({
  icon: 'error',
  title: 'Opa...',
  text: '`<%=errado %>`!',
  
  })
          
        </script>
        <% }%>
  </body>


<!-- Mirrored from prium.github.io/falcon/v3.4.0/app/e-commerce/customer-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:11 GMT -->
</html>