<div class="card">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Listagem dos Medicos</h5>
            </div>
            <div class="col-auto align-self-center">
                <h6 style="cursor:pointer" onclick="window.location='/'" class="mb-0">Gerar Relatório</h6>
            </div>
        </div>
    </div>
    <div class="card-body py-0 border-top">
        <div class="tab-content">
            <div class="tab-pane preview-tab-pane active" role="tabpanel"
                aria-labelledby="tab-dom-b5b90702-8f53-4c41-812c-1124c578a4c4"
                id="dom-b5b90702-8f53-4c41-812c-1124c578a4c4">
                <div class="card shadow-none">
                    <div class="card-body p-0 pb-3">
                        <div class="d-flex align-items-center justify-content-end my-3">
                            <div id="bulk-select-replace-element">
                                <button onclick="window.location='/FormMedico'"  class="btn btn-falcon-success btn-sm" type="button">
                                    <span class="fas fa-plus"
                                        data-fa-transform="shrink-3 down-2"></span><span
                                        class="ms-1">Cadastrar Medico</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive scrollbar">
                            <table class="table mb-0">
                                <thead class="text-black bg-200">
                                    <tr>
                                        
                                        <th class="align-middle">Nome</th>
                                        <th class="align-middle">Username </th>
                                        <th class="align-middle">Email</th>
                                        
                                        <th class="align-middle white-space-nowrap pe-3">Especialização
                                        </th>
                                        <th class="align-middle white-space-nowrap pe-3">Accão
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bulk-select-body">
                                    <% medicos.reverse().map(c=>{%> 
                                        <tr>
                                           
                                            <th class="align-middle"><%= c.nomeMedico  %></th>  
                                            <td class="align-middle"><%= c.userMedico  %></td>
                                            <td class="align-middle"><%= c.emailMedico  %></td>
                                            
                                            <td class="align-middle white-space-nowrap text-end pe-3">
                                                <% especialidades.filter(esp=> esp.idEspecialidade==c.idEspecialidade).reverse().slice(0, 1).map(esp=>{%>
                                                    <%= esp.nomeEspecialidade  %>
                                                    <%  })
                                                %>
                                            </td>
                                            <td class="align-middle white-space-nowrap text-end pe-3">
                                                <button onclick="window.location='/perfilMedico_/<%= c.idMedico %>'" class="btn btn-falcon-primary me-1 mb-1" type="button">ver</button>
                                            </td>
                                        </tr>
                                    <%  }) %> 
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>